<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="icon" type="image/ico" href="/static/favicon.png">
    {% load compress %}
    {% compress css %}
	    <link rel="stylesheet" href="/static/css/ui-darkness/jquery-ui-1.10.4.custom.min.css" />
	    <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    {% endcompress %}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    {% compress js %}
        <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    {% endcompress %}
	{% block header %}
	{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Diary</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'new' %}">New</a></li>
          </ul>
          {% if user.is_authenticated %}
            {{ user.first_name }}
          {% endif %}
          <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
            <ul class="nav navbar-right">
                <li><a class="btn btn-small" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
<footer>
	{% block footer %}
	{% endblock %}
</footer>
{% compress js %}
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/static/js/jquery.shorten.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock %}
{% endcompress %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
{% comment %}<script src="http://modernizr.com/downloads/modernizr-latest.js"></script>{% endcomment %}
<script>
</script>
</html>
