{% extends 'base.html' %}
{% block header %}
    <title>Diary</title>
{% endblock %}
{% block content %}
    <ul class="list-group">
        {% for entry in object_list %}
            <li class="list-group-item">
                <a href="{% url 'detail' pk=entry.id %}">{{ entry }}</a>
                <span id="entrys">{{ entry.text|safe }}</span>
                <a href="{% url 'update' pk=entry.id%}">Edit</a> <span>{{ entry.dateBegin }}</span> - <span class="float-right">{{ entry.dateEnd }}</span>
            </li>
        {% endfor %}
        {% if is_paginated %}
        <div class="pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                <li class="disabled"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    </ul>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $("span#entrys").each(function(index, element){
        $(element).shorten({
            showChars:'20'
        });
    });
</script>
{% endblock %}