{% extends 'base.html' %}
{% block header %}
    <title>Edit {{ form.title.value }}</title>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <ul>
                    {% for error in field.errors %}
                        <li style="list-style-type: none">
                            <div class="alert alert-danger">
                                {{  error|escape }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {{ field.label_tag }}  {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Save">
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("input#id_dateBegin").datepicker();
        $("input#id_dateEnd").datepicker();
    </script>
{% endblock %}