{% extends 'base.html' %}
{% block header %}
    <title>{{ Entry }}</title>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ Entry }}</div>
        <div class="panel-body">
            {{ Entry.text|safe }}
        </div>
    </div>
    <a href="{% url 'update' pk=Entry.id %}">Edit</a>
    <p>
        The date range for this entry is {{ Entry.dateBegin }} through {{ Entry.dateEnd }}
    </p>
    <h3>Date Created: {{ Entry.created }}</h3>
    <h4>Date Altered: {{ Entry.modified }}</h4>
{% endblock %}