{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">{{ form.username.label_tag }}</span>
                {{ form.username }}
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">{{ form.password.label_tag }}</span>
                {{ form.password }}
            </div>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function() {
            $('input#id_password').addClass('form-control');
            $('input#id_username').addClass('form-control');
        });
    </script>
{% endblock %}